<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">    
    <h2 class="navbar-brand">Formulario de productos</h2>
    <form id="form" action="/productos/guardar/" method="post">
        <label for="nombre" class="mensajes"><i>Nombre</i></label> 
        <input type="text" class="form-control" name="nombre" id="nombre">
        <br>
        <label for="descripcion" class="mensajes"><i>Descripción</i></label>
        <input type="text" class="form-control" name="descripcion" id="descripcion">
        <br>
        <label for="codigo" class="mensajes"><i>Código</i></label>
        <input type="text" class="form-control" name="codigo" id="codigo">
        <br>
        <label for="foto" class="mensajes"><i>Foto</i></label>
        <input type="text" class="form-control" name="foto" id="foto">
        <br>
        <label for="precio" class="mensajes"><i>Precio</i></label>
        <input type="text" class="form-control" name="precio" id="precio">
        <br>
        <label for="stock" class="mensajes"><i>Stock</i></label>
        <input type="text" class="form-control" name="stock" id="stock">
        <br>
        <input type="submit" class="btn btn-primary" value="Guardar" onclick="nuevoProducto()">
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>

</body>
</html>

