    <h1 class="navbar-brand">Formulario de productos</h1>
    <form>
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo">
        <br>
        <label for="precio">Precio</label>
        <input type="text" name="precio" id="precio">
        <br>
        <label for="thumbnail">Thumbnail</label>
        <input type="text" name="thumbnail" id="thumbnail">
        <br>
        <input type="submit" value="Guardar" onclick="nuevoProducto()">
    </form>


