html 
    head 
        title=API de productos

    body 
        table 
            thead 
                tr
                    td=Nombre 
                    td=Precio
                    td=thumbnail