<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mi Carrito de Productos</title>

        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            body { padding-top:50px; }
        </style>
        
        
    </head>

    <body class="container">

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Mi Carrito de Productos</a>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/productos">Seguir Comprando</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about"></a>
                  </li>
                </ul>
            </nav>
            
            
        </header>

        <main>
            <div class="row">

                <%- include('../partials/productosCarrito'); %>
  
            </div>

            
        </main>

        <footer>
            <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
        </footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/indexCarrito.js"></script>

    </body>
</html>